body {
    background-image: linear-gradient( 109.1deg,  rgba(181,73,91,1) 7.1%, rgba(225,107,140,1) 86.4% ); 
}
h2 {
    color: white;
}
.container--error {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 640px;
}
.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.pulse {
    animation-name: pulse;
    animation-duration: 1s;
}
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}