.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    justify-content: center;
}
.footer a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 0 15px;
    font-size: 15px;
}
.footer a:hover {
    text-decoration: underline;
}