.font17 {
  font-size: 17px;
  color:white;
}

.vertF {
  display: flex;
  align-items: center;
}

body {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #a3aff3 0%, #dcb6e8 100.2%);
}

.login {
  @extend .vertF;
  justify-content: center;
  padding: 17px 0;
  min-height: calc(100vh - 180px);
}
.login__container {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  color: white;
  padding: 60px 68px;
  min-height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 0 15px black;
  text-align: center;
  h2 {
    font-size: 1.5em;
  }
}
.login__container--form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  label {
    @extend .vertF;
  }
}

.login__container--rememberMe {
  @extend .vertF;
  justify-content: space-between;
  margin: 10px 0;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.login__container--socialMedia {
  @extend .vertF;
  flex-direction: column;
  > div {
    @extend .vertF;
    justify-content: center;
    margin: 20px 0;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    height: 40px;
    cursor: pointer;
    > img {
      width: 30px;
      margin-right: 10px;
    }
  }
}

.login__container--register {
  color: white;
  a {
    @extend .font17;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.input {
  @extend .font17;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
  margin: 15px 0;
  padding: 0 20px;
}

.button {
  @extend .font17;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 25px;
  height: 50px;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 10px 0;
}

::placeholder {
  @extend .font17;
}
@media only screen and (max-width: 600px) {
  .login__container {
    box-shadow: none;
    background-color: transparent;
    padding: 0 68px;
  }

  .header {
    display: flex;
    justify-content: center;
  }

  .login__container--socialMedia > div > img {
    margin-left: 10px;
  }

  .footer a {
    text-align: center;
  }

  .login__container--socialMedia > div {
    width: 80%;
    > img {
      margin: 0 20px;
    }
  }
}